In [24]:
import pandas as pd

In [25]:
df = pd.read_excel("Database.xlsx", sheet_name="Верхотомская волость")

In [26]:
df.head()

,Unnamed: 0,Рождение,Unnamed: 2,Unnamed: 3,Обряд,Unnamed: 5,Unnamed: 6,Место,Unnamed: 8,Unnamed: 9,Персона,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,День,Месяц,Год,День2,Месяц3,Год4,Волость,Место,Род занятий,Имя,Отчество,Фамилия,Статус,Возраст,Комментарии,порядковый номер,номер в документе,123
1,NaN,28,октября,1842,1,января,1843,Кузнецкая,Ашмарино,NaN,Дмитрий,Тимофеевич,Попов,новорожденный,NaN,NaN,1,NaN,NaN
2,NaN,NaN,NaN,NaN,1,января,1843,Кузнецкая,Ашмарино,заводской крестьянин,Тимофей,Амбросимович,Попов,отец,NaN,NaN,2,NaN,NaN
3,NaN,NaN,NaN,NaN,1,января,1843,Кузнецкая,Ашмарино,крестьянская жена,Марья,Васильевна,Попова,мать,NaN,NaN,3,NaN,NaN
4,NaN,NaN,NaN,NaN,1,января,1843,Верхотомская,Верхотомское,священник Вознесенской церкви,Павел,Михайлович,Саввин,восприемник,NaN,NaN,4,NaN,NaN

In [ ]:
column_names = [
    "birth_day",
    "birth_month",
    "birth_year",

    "rite_day",
    "rite_month",
    "rite_year",

    "region",
    "place",

    "profession",

    "first_name",
    "middle_name",
    "last_name",

    "status",
    "age",
    "comment",
    "number",
    "number_in_doc",
]